name: Dagger Pipeline CI

on:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  train:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25'
          cache-dependency-path: dagger/go.sum

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt
          pip install dagger dvc

      - name: Run Dagger pipeline
        run: |
          cd dagger
          go run pipeline.go
          cd ..

      - name: Upload Model Artifact
        uses: actions/upload-artifact@v4
        with:
          name: model
          path: model/model.pkl

  validate:
    runs-on: ubuntu-22.04
    needs: train

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Download Model Artifact
        uses: actions/download-artifact@v4
        with:
          name: model
          path: model

      - name: Validate model
        uses: lasselundstenjensen/itu-sdse-project-model-validator@main
